[user]
	name = fenglielie
	email = fenglielie@qq.com
[init]
	defaultBranch = main
[core]
	editor = vim
	# Ensure git correctly displays Chinese characters
	quotepath = false
	# Convert all line endings to LF on commit, do not convert on checkout
	autocrlf = input
	# Check line endings and prevent commit of files with mixed line endings
	safecrlf = true
[i18n]
	commitEncoding = utf-8
[gui]
	encoding = utf-8
[alias]
	trace = log --oneline --all --graph
	now = status -s -b
